<button routerLink="/favorites">Go To Favorites Page</button>
<h1>
  Map Page
</h1>
<br>
<ul *ngFor="let truck of trucks">
  <button routerLink="/truck/{{truck.id}}">
      {{truck.name }}
  </button>
</ul>
<br>
<h3>Search</h3>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
<select class="form-control" (change)=onChangeType($event.target.value)>
  <option *ngFor="let type of searchTypes">{{type}}</option>
</select>
<input type="text" name="entry" [(ngModel)]="searchModel.entry">
<input type="submit">
</form>
<h3>Filter</h3>
<form>
  <select class="form-control" (change)=onChangeType($event.target.value)>
    <option *ngFor="let option of ratingValues">{{option}}</option>
  </select>
  <div *ngFor="let price of priceValues">
  <input type="radio" value="price">{{price}}
</div>
<input type="submit">
</form>
