<app-navbar currentPage="map"></app-navbar>
<div class="row">

<!-- search form section -->
<div class="col-md-3">
  <div class="card">
    <div class="card-header">
<h3>Search</h3>
    </div>
<div class="card-body">
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="input-group">
  <input  class="form-control" type="text" name="entry" [(ngModel)]="searchModel.entry">
  <input class="btn btn-success"type="submit">
    </div>
</form>
<input class="btn btn-warning reset"(click)="resetSearch()" placeholder="Reset">
</div>
</div>
<!-- filter form section -->
<div class="card">
<div class="card-header">
<h3>Filter</h3>
</div>
<div class="card-body">
<form #filter="ngForm" (ngSubmit)="updateFilter(f)" novalidate>
  <select name="rating" class="form-control" (change)=onChangeRatingFilter($event.target.value)>
    <option *ngFor="let option of ratingValues">{{option}}</option>
  </select>
  <div *ngFor="let price of priceValues">
    <input name="price" type="radio" value={{price}} (change)="priceFilterChange($event.target.value)">{{price}}
  </div>
  <input class="btn btn-success" type="submit">
</form>
<input class="btn btn-warning reset" (click)="clearFilter()" placeholder="Reset">
</div>
</div>
</div>
<!-- Map section -->
<div class="col-md-6"></div>
<!--results section -->
<div class="col-md-3">
<div *ngIf="!isFiltered; then unfilteredList else filteredList"></div>
<ng-template #unfilteredList>
  <app-results-list [trucks]=trucks filtered=isFiltered></app-results-list>
</ng-template>
<ng-template #filteredList>
    <app-results-list [trucks]=filteredTrucks filtered=isFiltered></app-results-list>
  </ng-template>
</div>
</div>